#dir
test-dir/

#files
test.js
test.html
templates/test.html
templates/blogpages/test.html
templates/blogpages/blogposts/test.html

#logs
package-lock.json
*.log

#dependencies
node_modules/
bower_components
