#dir
test-dir/

#files
test.js
test.html
templates/test.html
templates/blogpages/test.html
templates/blogpages/blogposts/test.html

#logs
package-lock.json
*.log

#dependencies
node_modules/
bower_components

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# DS_store
*/.DS_Store
.DS_Store
.DS_Store?
._*

# hugo build lock
.hugo_build.lock
