<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Just a website">
    <meta name="author" content="akhil pandey">
    <link rel="icon" href="img/favicon.ico">

    <title>Home</title>

    <link href="assets/css/style.css" rel="stylesheet">

  </head>

  <body>
  <br>
      <header id="masthead">
      <a href="https://akhilhector.com">Akhil Pandey</a>
      <nav id="nav-main">
        <span class="toggle" role="button" tabindex="0">Menu</span>
        <ul id="nav-main-menu">
          <li class="first">
            <a href="about.html">About</a>
          </li>

          <li>
            <a href="https://github.com/AkhilHector">Code</a>
          </li>

          <li ng-if="blogUrl">
            <a href="{{blogUrl}}">Blog</a>
          </li>

          <li ng-if="ProfileUrl">
            <a href="{{hiveUrl}}">Profile</a>
          </li>

          <li class="last" ng-if="contactUrl">
            <a href="{{leaderboardUrl}}">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

      

      <footer style="text-align:center;">
        <p>&copy; Akhil Pandey 2015</p>
      </footer>

    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
  </body>
</html>

