h1 {
    font-family:"Playfair Display", sans-serif;
    font-style: normal;
    color: #6f6f6f;
    font-weight: 900;
    font-size: 26px;
    line-height: 65px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: black;
    font-weight: 100;
}

p, ul, li, b, code {
    font-family:"Playfair Display", sans-serif;
    font-style: normal;
    color: #5f5f5f;
    font-weight: 400;
    letter-spacing: 0.9px;
    text-align: justify;
    font-size: 23px;
    line-height: 33px;
}

.intro-header, .post-heading {
    padding-bottom: 10px !important;
}

.starting-letter {
    font-family:"Playfair Display", sans-serif;
    font-style: normal;
    color: #6f6f6f;
    font-weight: 900;
    font-size: 60px;
}

.starting-sentence .move-right {
    margin-left: 39px;
}

.starting-sentence {
    margin-left: 39px;
}
