<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="author" content="Akhil Pandey">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

        <title>blog | akhil</title>

    	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/clean-blog.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts1.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts2.css">

</head>

<body>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/" style="color: #fff">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about" style="color: #fff;">About</a>
                    </li>
                    <li>
                        <a href="/blog" style="color: #fff; text-decoration: underline;">Blog</a>
                    </li>
                    <li>
                        <a href="/rhetorics" style="color: #fff;">Rhetorics</a>
                    </li>
                    <li>
                        <a href="/snaps" style="color: #fff;">Snaps</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>LearnJS - a javascript cheatsheet</h1>
                        <h2 class="subheading">A cheatsheet covering diverse concepts of javascript</h2>
                        <span class="meta">By <a href="/about">Akhil Pandey</a> on June 21, 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                        <code>LearnJs</code> is an attempt to portray the best parts of Javasript that are pretty tough and hard to find. It is to be noted that this is not a book/guide in any form, but a congregation of best practices, language constructs, and other simple yet effective snippets that gives us an essence of how we can harness the best out of the language.
                    </p><br>
                    <b>So what are all covered in the cheatsheet ?</b>
                    <p>
                        <ul>
                            <li><code>Intro</code></li>
                            <li><code>Arrays</code></li>
                            <li><code>Strings</code></li>
                            <li><code>Objects</code></li>
                            <li><code>Functions</code></li>
                            <li><code>Conventions</code></li>
                            <li><code>Closures</code></li>
                            <li><code>Currying</code></li>
                            <li><code>Tail Calls</code></li>
                        </ul>
                    </p>
                    <b>Intro : Declarations</b>
                    <p>
                        <img src="../img/week4gsoc2.jpg"><br>
                        We have to understand the fact that in Javascript everything is an object, so for suppose if we declare a string using the String object and compare it with var a = "" then the outcome of the comparision would be false. This is simply because if we declare a string using the bad way and compare it with a string declared using the good way then fundamentally we are comparing a string with an Object(String).
                    </p>
                    <br>
                    <b>Intro : Semicolons</b>
                    <p>
                        <img src="../img/week4gsoc3.jpg"><br>
                        Code Snippet one and two are the same. but the fundamental difference between both the code samples is that one uses semicolons in the lang- -uage semantics but whereas the other doesnot. Basically we are taught to use semicolons in languages such as C, C++, Java etc since lines of code are terminated using ';' but in Javascript the entire scenario is different. There is absolutely no difference in execution of code with or without semicolons.
                    </p>
                    <br>
                    <b>Objects</b>
                    <p>
                        <img src="../img/week4gsoc4.jpg"><br>
                        So basically except the primitive values all are objects in Javascript
                    </p>
                    <br>
                    <b>Tail Calls</b>
                    <p>
                        <img src="../img/week4gsoc5.jpg"><br>
                        Tail calls are nothing but essentially replacing the concept of recursive functions with loop. In a way this can not only save time but also saves space i.e better time complexity and space complexity.Observing both the algorithms above written for factorial we can understand that f() is the traditional recursive method used for finding the factorial, but f1() is the tail call optimized algorithm which is better and fast.
                    </p>
                    <p>
                        The work is going in progress, since there is still a lot to cover.<br>
                        <code>Github</code> : <a href="https://github.com/AkhilHector/LearnJS">Click here</a><br>
                        <code>Source</code> : <a href="https://github.com/AkhilHector/Js-Playground/blob/master/misc/LearnJS.js">Click here</a>
                    </p>
                    <p>
                        Thats it folks, <br>
                        <code>Happy Hacking !!</code>
                    </p>

				</div>
            </div>
        </div>
    </article>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Weblog of <code>Akhil Pandey</code> <strong>2016</strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/clean-blog.min.js"></script>

</body>

</html>
