<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="author" content="Akhil Pandey">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

        <title>blog | akhil</title>

    	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/clean-blog.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts1.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts2.css">
        <link rel="stylesheet" type="text/css" href="css/blog.css">
        <link rel="stylesheet" type="text/css" href="css/highlight.min.css">
        <link rel="stylesheet" type="text/css" href="css/sublime.css">
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79019000-3', 'auto');
        ga('send', 'pageview');

        </script>

</head>

<body>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #ffffff;">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/" style="color: #000; font-family: Times New Roman;">HOME</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog" style="color: #000;">Blog</a>
                        <hr class="small" style="border-color: orange; margin: -15px auto; max-width: 40px;">
                    </li>
                    <li>
                        <a href="/projects" style="color: #000">Projects</a>
                    </li>
                    <li>
                        <a href="/rhetorics" style="color: #000;">Rhetorics</a>
                    </li>
                    <li>
                        <a href="/snaps" style="color: #000;">Snaps</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 style="color: black;">Using ngAudio and ngVideo</h1>
                        <h2 style="color: black;">Developing Audio <code>&</code> Video Player in Angular JS</h2>
                        <span style="color: #8f8f8f;">By <a href="/about">Akhil Pandey</a> on July 08, 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<p>
					<code><a href="https://github.com/AkhilHector/sTeam-web-UI">sTeam web interface</a></code>, part of sTeam is a collaboration platform so there was the need to support media. In any collaboration platform support for basic/diverse MIME types is necessary. In <span class="hljs-keyword">angular</span> <code>ngVideo</code> and <code>ngAudio</code> are two good packages that are helpful in building audio and video players for any <span class="hljs-keyword">angular</span> application. So let us see how to go ahead with things while implementing media players.
					</p>

					<br>
					<b>Controllers and the template :</b>
					<p>
						<ul>
							<li><code><a href="https://github.com/AkhilHector/sTeam-web-UI/blob/master/newUI/cmp5.html">sTeam-web-UI/newUI/audio-player</a></code> <small>// the audio controller and template</small></li>
							<li><code><a href="https://github.com/AkhilHector/sTeam-web-UI/blob/master/newUI/cmp6.html">sTeam-web-UI/newUI/video-player</a></code> <small>// the video controller and template</small></li>
						</ul>
					</p>

					<p>
						<b>Using <code>ngAudio</code></b>
<pre style="background-color: #000; border-radius: 10px;">
<code style="color: white;" class="language-javascript">
    <span class="hljs-keyword"><span class="hljs-keyword">angular</span></span>.module(<span class="hljs-string">'steam'</span>, [<span class="hljs-string">'ngAudio'</span> ])
        .value("songRemember",{})

        .<span class="hljs-title">controller</span>('sTeamaudioResource', function(<span class="hljs-literal">$scope</span>, ngAudio) {
            <span class="hljs-literal">$scope</span>.audios = [
            ngAudio.load('audio/test.mp3'),
            ]
    })

    .<span class="hljs-title">controller</span>('sTeamaudioPlayer', ['<span class="hljs-literal">$scope</span>', 'ngAudio', 'songRemember', function(<span class="hljs-literal">$scope</span>, ngAudio, songRemember) {
        <span class="hljs-keyword">var</span> url =<span class="hljs-string">'test.mp3'</span>;

        <span class="hljs-keyword">if</span> (songRemember[url]) {
            <span class="hljs-literal">$scope</span>.audio = songRemember[url];
        }<span class="hljs-keyword"> else</span> {
            <span class="hljs-literal">$scope</span>.audio = ngAudio.load(url);
            <span class="hljs-literal">$scope</span>.audio.volume = 0.8;
            songRemember[url] = <span class="hljs-literal">$scope</span>.audio;
        }
    }]);
</code>
</pre>
						<br>
						<ul>
							<li>First create a controller for storing the resources.Store the items in an array or an object. Note the point storing the images in an <code>Array</code> or an <code>Object</code> depends on your use case, but make sure that you are calling the resources correctly.</li>
							<li>Now create another controller which handles the control of the audio player.This controller should be responsible for handling the URI's of the media.</li>
							<li>In the second controller which we create we must add some config to give support to controls in the front end, things like progress of the media, volume, name of the media etc. These are essentially important for the front end. So each resource loaded to the audio player must have all the above listed controls and information.</li>
						</ul>
						<p>
                            Below is the screenshot of the audio player
                        </p>
						<img src="../img/week7gsoc2.jpg" width="800" height="400">
					</p>

					<p>
						<b>Using <code>ngVideo</code></b>
						<br>
						<br>
<pre style="background-color: #000; border-radius: 10px;">
<code style="color: white;" class="language-javascript">
<span class="hljs-keyword">angular</span>.module('steam', [ 'ngVideo' ])

<span class="hljs-title">.controller</span>('sTeamvideoPlayer', ['<span class="hljs-literal">$scope</span>', '$timeout', 'video', function(<span class="hljs-literal">$scope</span>, $timeout, video) {
    <span class="hljs-literal">$scope</span>.interface = {};
    <span class="hljs-literal">$scope</span>.playlistopen = false;
    <span class="hljs-literal">$scope</span>.videos = {
        test1: "test1.mp4",
        test2: "test2.mp4"
    };

    <span class="hljs-literal">$scope</span>.$on('$videoReady', function videoReady() {
        <span class="hljs-literal">$scope</span>.interface.options.setAutoplay(true);
    });

    <span class="hljs-literal">$scope</span>.playVideo = function playVideo(sourceUrl) {
        video.addSource('mp4', sourceUrl, true);
    }

    <span class="hljs-literal">$scope</span>.getVideoName = function getVideoName(videoModel) {
        <span class="hljs-keyword">switch</span> (videoModel.src) {
            <span class="hljs-keyword">case</span> (<span class="hljs-literal">$scope</span>.videos.test1): return "test1";
            <span class="hljs-keyword">case</span> (<span class="hljs-literal">$scope</span>.videos.test2): return "test2";
            default: return "Unknown Video";
        }
    }

    video.addSource('mp4', <span class="hljs-literal">$scope</span>.videos.test1);
    video.addSource('mp4', <span class="hljs-literal">$scope</span>.videos.test2);

}]);
</code>
</pre>
						<ul>
							<li>Developing the video player is quite the same as developing the audio player but this involves some extra configurations that are ought to be considered. Things like autoplay, giving the scope for playing the video on full screen etc. If keenly looked these are just additional configuration which you are trying to add in order to make your video player more efficient.</li>
							<li>Firstly we must have the <code>$on($videoReady)</code> event written in order to autoplay the list of videos in the default playlist</li>
							<li>Moving on, there are couple of controls which are to be given to the video player. Using the method <b>getVideoName</b> we can bind the video source to the title/name of the video.</li>
							<li>The <code>video</code> service provider must be used for adding the video Sources, and it must be noted that the <b>mp4</b> can be altered in order to play <b>mp3</b> files or video files of different format. Before using other video format, make a note of checking the list of video files supported by <code>ngVideo</code>.</li>
						</ul>
						<p>
                            Below is the screenshot of the video player
                        </p>
						<img src="../img/week7gsoc3.jpg" width="800" height="400">
					</p>

					<p>
						Thats it folks, <br>
						Happy Hacking !!
					</p>

				</div>
            </div>
        </div>
    </article>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/akhilpandey95">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Weblog of <code>Akhil Pandey</code> <strong>2017</strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/highlight.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/clean-blog.min.js"></script>

</body>

</html>
