<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="author" content="Akhil Pandey">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

        <title>blog | akhil</title>

    	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/clean-blog.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts1.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts2.css">
        <link rel="stylesheet" type="text/css" href="css/blog.css">
        <link rel="stylesheet" type="text/css" href="css/highlight.min.css">
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79019000-3', 'auto');
        ga('send', 'pageview');

        </script>

</head>

<body>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #ffffff;">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">HOME</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Blog</a>
                    </li>
                    <li>
                        <a href="/projects" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Projects</a>
                    </li>
                    <li>
                        <a href="/rhetorics" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Rhetorics</a>
                    </li>
                    <li>
                        <a href="/snaps" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Snaps</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 style="color: black;">Tuning the <br /> GNU/Linux System</h1>
                        <h2 style="color: black;">Increasing the battery life for Linux based distros</h2>
                        <span style="color: #8f8f8f;" class="meta">By <a style="color: black;" href="/about">Akhil Pandey</a> on September 12, 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                        <span class="starting-letter">I</span> always used to find myself in a difficult situation when i had to travel
                        <span class="move-right">and work. The main reason for this is my machine had a <code>GNU/Linux</code></span>
                        based distro running and i couldn't stay away from a charging spot for more than
                        two hours. I always was intrigued to explore this segment and solve this very problem
                        in order to better my travel experience.
                    </p>

                    <p>
                     Basically there are couple of things to be kept in mind before you go out and try
                     the tricks mentioned here, Consider them basics; So they are :
                     <ul>
                            <li>The Kernel plays a major role in providing support to enhance battery life.
                            So i have tested the battery saving hacks on kernel's :
                                <ul>
                                    <li><code>4.2.x</code></li>
                                    <li><code>4.2.x</code></li>
                                    <li><code>4.7*</code>// Arch</li>
                                </ul>
                            So make sure you have kernel above <code>4.x.x</code> as they show a significant
                            improvement with latest set of processors
                            </li>
                            <li>Apart from the kernel the next major role is played by the distro, so it is very
                            important to have a desktop environment that is not bloated will unecessary software.
                            For example LXDE, Xfce, Xmonad, OpenBox are the options you might want to look at if you
                            are keen on battery and minimalism</li>
                            <li>The distro comes next, you might think that having a light weight Desktop environment
                            will do your job, although your job is only halfdone. So in order to complete the list of
                          basics you must ensure that you have a light weight Distro like Arch Linux, Arch Bang,
                          Xubuntu, Lubuntu. Don't expect these hacks to work properly on Unity, Gnome</li>
                     </ul>
                    </p>

                    <br />
                    <b class="side-heading">My setup :</b>
                    <p>
                    I basically use <code>Arch linux + XFCE</code> with the latest kernel;
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
Linux machine 4.7.2-1-ARCH #1 SMP PREEMPT Sat Aug 20 23:02:56 CEST 2016 x86_64 GNU/Linux
</code>
</pre>
                    </p>

                    <p>
                    Things to be installed before starting this:
                    <br />
                    <b>For Arch</b>

<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
pacman -S tlp
pacman -S powertop
pacman -S intel-ucode
pacman -S yaourt
yaourt thermald
</code>
</pre>

                    <br />
                    <b>For *buntu</b>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
apt-get install tlp
apt-get install powertop
# Thermald is installed by default in *buntu based distro's
</code>
</pre>
                    </p>

                    <p>
                    Before i start let me just say couple of things which are to be kept in
                    mind whilst copying/pasting the commands listed in the article.
                    <ul>
                        <li>There might be a command which might not be suitable to your machine
                        or your hardware in specific, so kindly read about the same before you
                      unleash your fingers</li>
                        <li>Some of these commands might be very handy or might be not at all,
                        since we have to take many things like kernel support etc into consideration
                      and also rather than having a thought that this would be mind-blowingexpect
                        the outcome to be mildly good.</li>
                        <li>If you are new to GNU/Linux please make sure that you have a reference by
                        your side whilst going through this article.</li>
                    </ul>
                    </p>

                    <p>
                    <b>Let's get started :</b>
                    <br />
                     So considering that you have installed the afore mentioned packages, let's
                     get started:
                     <br />
                     <br />

                     <br />
                     <b class="side-heading">Aspect 1 : <code>brightness</code></b>
                     <p>
                         Although you might have the feeling that you know this thing from a long time,
                         there are some things to ensure that you use this method the right way. So open
                         the terminal and type :
                     </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
cat /sys/class/backlight/intel_backlight/brightness
</code>
</pre>
                    <p>
                        Typing the above command gives you the brightness which your screen is currently
                        set to, now go ahead and type:
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
cat /sys/class/backlight/intel_backlight/max_brightness
</code>
</pre>
                    <p>
                        Typing the above command gives you the maximum brightness that can be set to your
                        machine. So now the important part to be noted here is, make sure that your current
                        brightness is set to nearly <code>8.5%</code> of your maximum brightness. Making sure
                        that you set this to that value you can increase the battery time invariably.
                    </p>

                    <br />
                    <b class="side-heading">Aspect 2: <code>Events & Services</code></b>
                    <p>
                        The next important part of the process is using the services which system wants and
                        removing the things which are not necessary. So things like <code>bluetooth, mongodb,
                        mysql, rethinkdb, etc....</code> could be disabled. Note that the idea here is not about
                        disabling a specific service or distinguishing them, although it is basically about stopping
                        all the unwanted services. Turn them off by typing
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# Arch linus
systemctl --failed --all
systemctl stop service_name

# Ubuntu based distros
service service_name stop
</code>
</pre>
                    <p>
                        Make sure that cursor blink mode is disabled, since this event is responsible for
                        consuming a significant amount of power. Type the following command :
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# Any distro doesn't matter
gconftool-2 --type string --set /apps/gnome-terminal/profiles/Default/cursor_blink_mode off
</code>
</pre>
                    <p>
                        The above command <code>gconftool-2</code> is basically a configuration tool for
                        changing the default values in a system. All the preferences are basically key:value
                        pairs. Typing the above command makes sure that cursor blinking mod is turned off.
                    </p>

                    <br />
                    <b class="side-heading">Aspect 3 : <code>Screensaver and display manager</code></b>
                    <p>
                        Assuming that you are using <code>Xorg</code>, there are couple of things
                        which you might want to know so that there is a clear understanding of
                        system's power consumption policy when it goes down for a <b>suspend or screen
                        blank</b>. Before you get started on this aspect, please have a look at the man
                        page for <code>xset</code>. Now let's go through what all should be done;
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# first check your config by typing
xset q

# if you have screen saver enabled disable that first
xset s off

# Next, disable power blanking and exposures
xset s noblank
xset s noexpose
</code>
</pre>

                    <p>
                        Now that you have disabled screen saver and power blanking, the next step
                        is regarding <code>DPMS</code>. If you want to know regarding DPMS
                        <a href="https://www.x.org/releases/X11R7.7/doc/xextproto/dpms.html"
                        target="_blank">click here</a>. So disable/enable DPMS depending upon your
                        need.
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
xset -dpms  // disables Energy star (DPMS)
xset +dpms  // enables  Energy star (DPMS)
</code>
</pre>
                    <br />
                    <br />

                    <br />
                    <b class="side-heading">Aspect 4: <code>Wireless and Network</code></b>
                    <p>
                        So most of the time we make sure that we are connected to the internet, thus
                        making sure to optimize battery in this use case is a bit tough and challenging.
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# enable power saving using iwconfig
iwconfig card_label power on

# enable power saving using iw
iw card_label set power_save on

# configure dynamic power save timeout
iwconfig card_label power 100m
</code>
</pre>
                    <p>
                        There are couple of things to be kept in mind after you type those :
                    </p>
                    <ul>
                        <li>There are some <b>atheros</b> chips that are configured for power save
                        in the first place, so you might not observe much of a change in your
                      battery life.</li>
                        <li>Basically all Wireless cards use a significant amount of power, although
                        when compared using <b>ethernet</b> over to <b>wifi</b> is better. So opt for
                      ethernet if you have an option</li>
                        <li>From system to system the battery drain is directly proportional to the
                        card you use, so if you have a high transmit network card then these settings
                      might not be effective to your overall battery time.</li>
                        <li>Even though you go through all those above mentioned gruelling scenarios
                        there is good chance that you might save upto <code>30-40 mins</code></li>
                    </ul>
                    <p>
                        Next, disable or kill bluetooth if you are not using it;
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# Arch linux
systemctl stop bluetooth.service

# Ubuntu based distros
service bluetooth stop
</code>
</pre>

                    <br />
                    <br />

                    <br />
                    <b class="side-heading">Aspect 5: <code>Hard drive</code></b>
                    <p>
                        It is basically the most important part of this entire process, so there are two
                        approaches to ensure that you have power save enabled to your hard disk and you
                        are not compromising on performance. So Linux gives you the feasibility to alter
                        the hard drive spindown speed using the command <code>hdparm</code>. To know more
                        about the command type <b>man hdparm</b>.
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# To alter spindown timeout
hdparm -S {time} /dev/{name}

#spindown_time = 60  # 5 min
#spindown_time = 240 # 20 min
#spindown_time = 250 # 30 min
#spindown_time = 280 # 1 hour
#spindown_time = 340 # 2 hours
</code>
</pre>
                    <p>
                        Next in queue comes a small but very good measure called <code>noatime</code>.
                        So basically with <code>noatime</code> disabled the access times of all the
                        directories and files in your file system are not really in your control,
                        meaning even if you have your hard disk spindown time set, but imagine there
                        is a read operation of a file from your cache, this essentially is registered
                        as a normal read operation and it basically ensures that the hard disk is
                        spinning all the time. So in order to negate this and ensure that this doesn't
                        null the effect of <code>hdparm</code>. Do the following:
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# Open fstab
vim /etc/fstab

# add noatime to your hard disk at the end of the line

# before
UUID=2e0e754e-7dc2-4c21-9101-b539b8a501a8  /       ext4   errors=remount-ro 0   1

# after
UUID=2e0e754e-7dc2-4c21-9101-b539b8a501a8  /       ext4   errors=remount-ro,<b>noatime</b> 0   1
</code>
</pre>
                    <p>
                        Save the <code>/etc/fstab</code> and reboot your system in order to have it in
                        effective usage. So now <code>hdparm</code> will be successfull at spinning down
                        the hard drive when not in use. Moving ahead there is also some more things that
                        could be done in order to ensure that an extra power saving flag is passed to the
                        system. In order to do that;
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# Change the following from max_performance to min_power
echo min_power > /sys/class/scsi_host/host0/link_power_management_policy
echo min_power > /sys/class/scsi_host/host1/link_power_management_policy
echo min_power > /sys/class/scsi_host/host2/link_power_management_policy
</code>
</pre>
                    <p>
                        Although this worked fine on some systems it is to be noted that when you are not
                        in <b>AC</b> mode, i.e when you are using your system on battery the above commands
                        might work just fine, but if you are facing any issues or if you feel that the Read
                        write speeds are visibly slowed down, then alter the above three parameters by typing
                        <code>max_performance</code> instead of <code>min_power</code>
                    </p>
                    <br />
                    <br />

                    <br />
                    <b class="side-heading">Aspect 6: <code>Audio devices</code></b>
                    <p>
                        So audio cards consume a significant amount of power when are in use, but there is no
                        point in spending that when you are not using them. Thereby in order to ensure that the
                        sound cards accepts a power saving mechanism just type;
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# Check the parameter first using cat
cat /sys/module/snd_hda_intel/parameters/power_save_controller

# now if it is N, then change it to Y
echo Y > /sys/module/snd_hda_intel/parameters/power_save_controller
</code>
</pre>
                    <br />
                    <br />

                    <br />
                    <b class="side-heading">Aspect 7: <code>Tools</code></b>
                    <p>
                        If you are an avid Linux user you might have come across the tools called
                        <code>powertop, tlp</code>. These are two handy tools which complete this
                        transaction. Consider them like the last piece of the puzzle. Provided that
                        you have downloaded them there is pretty much nothing to configure with them,
                        they can be used right away after installation.
                    </p>
<pre style="background-color: #666; border-radius: 10px;">
<code style="color: white;" class="shell">
# Start tlp first
tlp start

# In order to use powertop efficiently first calibrate
powertop --calibrate

# Now auto tune powertop with regard to your system specs
powertop --auto-tune
</code>
</pre>
                    <b>NOTE:</b> After you hit calibrate the screen will go blank, don't worry
                    </p>

                    <p>
                    With that we basically complete all the basic aspects of power saving that are
                    to be ensured. People who have a bit of expertise in this field might be wondering
                    as to why i didn't mention about CPU freq, Intel p-states etc. Well after some research
                    i found that <code>tlp</code> turns effective with usage and altering of <code>C-states</code>
                    and <code>P-states</code>. So if you want to take a step ahead and alter modes like <code>no_turbo
                    </code>, <code>max_perf_pct</code> etc, go ahead but i do want to mention that there is not much
                    of significance as i have tried them out too.
                    <br />
                    PS : If you are using <code>nvidia</code> driver instead of <code>Xorg</code>, then
                    download the package <code>nvidia-settings</code> and change your power saving profiles
                    over there.
                    </p>

                    <p>
                        Thats it folks, <br>
                        <code>Happy Hacking !!</code>
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/akhilpandey95">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Weblog of <code>Akhil Pandey</code> <strong>2017</strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/highlight.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/clean-blog.min.js"></script>

</body>

</html>
