<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="author" content="Akhil Pandey">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

        <title>blog | akhil</title>

    	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/clean-blog.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts1.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts2.css">
        <link rel="stylesheet" type="text/css" href="css/blog.css">
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79019000-3', 'auto');
        ga('send', 'pageview');

        </script>

</head>

<body>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #ffffff;">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">HOME</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Blog</a>
                        <hr class="small" style="border-color: orange; margin: -15px auto; max-width: 40px;">
                    </li>
                    <li>
                        <a href="/projects" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Projects</a>
                    </li>
                    <li>
                        <a href="/rhetorics" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Rhetorics</a>
                    </li>
                    <li>
                        <a href="/snaps" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Snaps</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 style="color: black;">Promises, REST API's & Angular</h1>
                        <h2 style="color: black;"> Concept and implementation of promises in angular applications</h2>
                        <span style="color: #8f8f8f;" class="meta">By <a style="color: black;" href="/about">Akhil Pandey</a> on June 04, 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                        Before breaking it down, to all those who don't know what REST API's are :
                        <br>
                        <br>
                        "REST is acronym for REpresentational State Transfer. It is architectural style for distributed hypermedia systems ans was first presented by Roy Fielding in 2000 in his famous dissertation."
                        <small>Source : "restfulapi.net"</small>
                    </p>
                    <br>
                    <b class="side-heading">So what is a Promise ?</b>
                    <p>
                        Generally promises are representation of a value that which might not be available to us as of now
                        but at some point eventually it will be available. Observe the below image to understand how promises
                        work.
                    </p>
                    <p>
                        <img src="../img/week2gsoc2.jpg" width="650" height="400">
                    </p>
                    <br>
                    <b class="side-heading">So how is this better than callbacks ?</b>
                    <p>
                        Generally if you are using callbacks in your codebase then at some point of time either for i/o's or file buffers or
                        something might come in your way and makes you write nested callbacks. Writing nested callbacks is difficult and an
                        alternative to that is <code>promise</code>
                    </p>
                    <p>
                        <img src="../img/week2gsoc3.jpg" width="400" height="300">
                    </p>
                    <b class="side-heading">REST API's, promises what are you about to explain ?</b>
                    <p>
                        Angular has this beautiful service called <code>$q</code> which is helpful for creating promises and using them in
                        your angular applications. Generally many people have concerns over <code>$q</code> but <code>$q</code> is tightly
                        integrated with the scope life cycle. So be it any task it contains all the necessary features needed by most of the
                        heavy duty asynchronous tasks.
                    </p>
                    <p>
                        Now to start off angular can be really powerfull with the <code>$http</code> Service provided the fact that it has
                        immense potential in allowing us to create heavy duty REST ful API's, CRUD operation based web applications etc. So
                        let us understand the $http service first before using promises for creating a REST ful API.
                        <br>
                        <hr>
                        <code>
                            $http<br>
                            &nbsp;  |_____ .success()<br>
                                     &nbsp;&nbsp;&nbsp; <small>For a success(), callback is called asynchronously when the request completes and the
                              response arrives from the server</small>  <br>
                            &nbsp;  |_____ .error()<br>
                                    &nbsp;&nbsp;&nbsp; <small>For an error(), the error callback is fired</small>
                        </code>
                        <hr>
                        Callbacks which are accpeted by above methods are :
                        <ul>
                            <li>data: It is a response obtained from server.</li>
                            <li>status: HTTP status codes 100x, 200x, 300x, 400x, etc which returned from server.</li>
                            <li>config: Object used for generating the request.</li>
                            <li>headers: Headers sent by the server.</li>
                            <li>statusText: HTTP status text of the status code.</li>
                        </ul>
                    </p>
                    <b class="side-heading">Promise Chaining</b>
                    <p>
                        Chaining is one of the most important aspects of promises. Here the basic idea is that promises can be composed
                        through chaining. This means you can trigger a specified task only after previous promise has been resolved.
                    </p>
                    <b>Handling errors by designing a promise that always rejects</b>
                    <p>No API is complete without writing a handler or a middleware that takes care of all the requests which are generally
                    errored. Designing this will be useful if we want to tell a user about the occurrence of an error in terms of a promise rather than
                    a simple value.</p>
                    <p>
                        <img src="../img/week2gsoc4.jpg">
                    </p>
                    <p>
                        NOTE : Generally while using <code>$http</code> Service there are somethings which one should have knowledge
                        of, If we happen to send a JS object as POST data in a POST/PUT request, it's serialized to JSON before getting sent.
                        Similarly, if the server responds with a JSON string it's parsed into a JavaScript object and passed to the success callback attached to the promise.
                    </p>
                    <p>
                        Thats it folks, <br>
                        <code>Happy Hacking !!</code>
                    </p>

				</div>
            </div>
        </div>
    </article>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/akhilpandey95">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Weblog of <code>Akhil Pandey</code> <strong>2017</strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/clean-blog.min.js"></script>

</body>

</html>
