<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="author" content="Akhil Pandey">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

        <title>blog | akhil</title>

    	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/clean-blog.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts1.css">
    	<link rel="stylesheet" type="text/css" href="css/fonts2.css">
        <link rel="stylesheet" type="text/css" href="css/blog.css">
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79019000-3', 'auto');
        ga('send', 'pageview');

        </script>

</head>

<body>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #ffffff;">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">HOME</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Blog</a>
                    </li>
                    <li>
                        <a href="/projects" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Projects</a>
                    </li>
                    <li>
                        <a href="/rhetorics" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Rhetorics</a>
                    </li>
                    <li>
                        <a href="/snaps" style="color: #000; font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Snaps</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 style="color: black;">pubundsci - An independent research study</h1>
                        <h2 style="color: black;">Understanding effects of public understanding about scientific literature on real world</h2>
                        <span style="color: #8f8f8f;" class="meta">By <a style="color: black;" href="/about">Akhil Pandey</a> on October 19, 2017</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <p>
					<span class="starting-letter">W</span>hile technological and scientific
					<span class="move-right">advancement paved</span> its way in the 20th century giving scope for researchers to
                    publish of a plethora of scientific literature, "Public Understanding of Science" has been at the center stage of
                    discussion among researchers for the past decade. This very concern sprouts from the fact that most of the scientific
                    reportage that occurs on News Media is subject to personal interpretation. Also, the misapprehensions of the scientific
                    findings can cause repercussions of unimaginable scale in the real world.
					</p>

                    <p>
                        Let us consider a small use case. For suppose, "ABC" is a research organization that publishes a scientific
                        finding regarding the relationship between pregnancy and theobromine. Now, there might be a news media outlet
                        that picks the same research article and broadcasts the results in a science journalism segment. The problem
                        arises if the findings in the research paper are incorrectly represented by the Media Outlets. If the research
                        finding says "There is a 30% chance of not having a miscarriage during pregnancy if the woman has theobromine
                        in her diet", the media outlet would report it in the following way, "A recent finding suggests that chocolate
                        is good for your health during pregnancy and it would help you to reduce the chance of a miscarriage".
                    </p>

                    <br />
                    <b class="side-heading">Questions I am trying to answer ?</b>
                    <p>
                        The scientific literature when shared on diverse digital platforms has repercussions on a larger scale as it
                        is subject to diverse public perception. The study mainly aims to assess and understand the meaning conveyed
                        about scientific literature to general public and what are the effects of such opinions in the real world.
                    </p>

                    <br />
                    <b class="side-heading">Goals</b>
                    <p>
                        The core aim of the study is to mathematically frame the effects of public understanding about
                        scientific literature on real world. Effects here implies psycometric and economic. The study would
                        therefore be divided into two phases. Phase 1 would involve predicting the level of public perception
                        (understanding) of scientific articles purely basing on the text from the abstract. Phase 2 would broadly focus on coming up with economic and
                        psycometric effects of public understanding about scientific literature on real world.
                    </p>

                    <br />
                    <b class="side-heading">Results and findings</b>
                    <p>
                        For proving the hypothesis I tried creating a machine learning module that would predict
                        the level of understanding of scientific articles purely based on the text present in the
                        abstract. Regression was used to predict the level of understanding and for the module and here
                        are the following features that were considered during the process of the regression :
                        <br />
                        <ul>
                            <li>Average word length</li>
                            <li>Average sentence length</li>
                            <li>Lexical Diversity</li>
                            <li>Frequency of words greater than the average word length</li>
                        </ul>
                        <br />

                        <center><img src="../img/pubundsci_1.png" height="auto" width="75%" alt="pubundsci_1"></center>

                        <br />

                        <center><img src="../img/pubundsci_2.png" height="auto" width="75%" alt="pubundsci_2"></center>

                        <p>
                            <strong>MSE</strong> stands for "Mean Squared Error" which is nothing but the difference between the
                            estimator and what is estimated.
                            <br />
                            <strong>R2</strong> stands for "R-Squared" value which is nothing but the statistical measure of how
                            close the data are to the fitted regression line. It ranges from <strong>0</strong> to <strong>1</strong>. If the
                            value is 0 it would mean that the model explains none of the variability of the
                            response data around its mean. If the value is 1 then it indicates that the model
                            explains all the variability of the response data around its mean.
                            <br />
                            The model that I have built has an R-Squared value of <strong>0.7356</strong>.
                        </p>
                    </p>

                    <br />
                    <b class="side-heading">Future Work</b>
                    <p>
                        The future work would focus on mathematically hypothesizing a relationship between the proposed psycometric
                        and economic effects of public understanding about scientific literature. There must be active research done
                        towards constructing and understanding the relationship between the afore mentioned variables. Furthermore,
                        an in depth understanding about the ripples caused by news media articles on the economy would the primary
                        priority whilst understanding the psycometric effects of the news media articles would be the second priority.
                    </p>

                    <p>
                        <strong>Github Repository:</strong> <a href="https://github.com/akhilpandey95/pubundsci" target="_blank">pubundsci</a>
                    </p>

                    <p>
                        Thats it folks, <br>
                        Happy Hacking !!
                    </p>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/akhilpandey95">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Weblog of <code>Akhil Pandey</code> <strong>2017</strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/clean-blog.min.js"></script>

</body>

</html>
